
<div class="consult-ls">
    <h3>Listado Tr&aacute;mites</h3>
    <div class="listado-tramites">
        <table id="DataListadoTramites">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th data-field="anioexp">A&ntilde;o</th>
                    <th data-field="secexp">Secuencial</th>
                    <th data-field="beneficiario">Beneficiario</th>
                    <th data-field="ruc">Ruc</th>
                    <th data-field="codigoCatastral">Catastro</th>
                    <th data-codigo="id" data-visible="false">id</th>
                </tr>
            </thead>
        </table>
        <div id="pagineoListadoTramites">

        </div>
    </div>
</div>