
<div class="consult-ls">
    <h3>Listado Beneficiarios</h3>
    <div class="listado-beneficiarios">
        <table id="DataListadoBeneficiarios"
               >
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="ruc">Ruc</th>
                    <th data-field="representante">Representante</th>
                    <th data-field="contacto">contacto</th>
                    <th data-codigo="id" data-visible="false">id</th>
                </tr>
            </thead>
        </table>
        <div id="pagineoListadoBeneficiarios">

        </div>
    </div>
</div>