html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 16px;
    color: blue;
}

h2 {
    font-size: 20px;
    color: red;
}

h3 {
    font-size: 25px;
    color: yellow;
}

h4 {
    font-size: 30px;
    color: brown;
}