/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}

#loaderGif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url("../Referencial/Images/loading.gif") no-repeat center center;
    background-color: #000;
    opacity: 0.5;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 1em;
}

select.ctrl-select {
    font-size: 0.8em;
    padding: 0;
}

table button.btn {
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #3d80ba;
}

button.commands > * {
    margin: 0 0.5em;
}

.container-form {
    max-width: 60em;
    margin: 0 auto;
}
.consult-ls .row,
.detail-container .row{
    margin: 0;
}

.detail-container {
    width: 90%;
    margin: auto;
}
    .detail-container table th:nth-child(1) {
        width:10%;
    }

.container-observacion-detail table th:nth-child(2) {
    width:10%
}

.container-form > *, .tab-content-form > * {
    padding-bottom: 1em;
}

.command-btn-top {
    display: flex;
    justify-content: space-between;
}

.command-btn-bottom-detail {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

.command-btn-bottom {
    display: flex;
    justify-content: center;
}
    .command-btn-bottom > * {
        margin: 0.3em 0;
        width: 100%;
    }

#TramiteTabContainer {
    margin: 10px;
}
#tramiteTabContent {
    min-height: 28rem;
    overflow: visible;
    border-bottom: 1px solid #ccc;
}

.nav-tabs {
    margin: 0;
}

.tab-content {
    height: 100%;
    padding:1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


/*Inicio Panel de Filtros*/
.wrapper-panel {
    width: 100%;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .command-btn-top {
        justify-content: space-around;
    }
    .row-two-controls {
        margin: 0.5em 0;
    }
}
.panel-heading {
    padding: 0;
    border: 0;
    background: #ededed;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panelFilterForm > * {
    margin:0.5em 0;
}
.panelFilterForm .commands {
    width:100%;
}

.ctrl-codigo-catastral input {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.panel-print-btn-grp {
    width: 100%;
}
    .panel-print-btn-grp .print-btn {
        width: 90%;
        font-size:0.8em;
    }
    .panel-print-btn-grp .print-btn > *{
        margin: 0 0.4em
    }
    .panel-print-btn-grp .print-options {
        width: 100%;
    }

/*Fin*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
