<div class="command-btn-bottom row col-12 col-sm-12 col-md-12 col-lg-2 offset-lg-10">
    <button type="button" class="guardar-edit btn btn-primary commands">
        <i class="fa fa-save"></i>
        Guardar
    </button>
    <button type="button" class="eliminar-edit btn btn-danger commands">
        <i class="fa fa-trash"></i>
        Eliminar
    </button>
    <button type="button" class="cancelar-edit btn btn-secondary commands">
        <i class="fa fa-times"></i>
        Cerrar
    </button>
</div>