<div class="command-btn-top row">
    <button type="button" class="regresar-edit btn btn-secondary commands">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Regresar
    </button>
    <button type="button" class="exportar-edit btn btn-secondary commands">
        <i class="fa fa-file-pdf-o"></i>
        Exportar
    </button>
</div>