<div class="command-btn-bottom-detail row col-12 col-sm-12 col-md-12 col-lg-12">
    <button type="button" class="cancelar-edit-detail btn btn-secondary commands">
        <i class="fa fa-times"></i>Cerrar
    </button>
    <button type="button" class="guardar-edit-detail btn btn-primary commands">
        <i class="fa fa-save"></i>Guardar
    </button>
</div>