<header id="header" class="header">

    <div class="header-menu">

        <div class="col-md-7">
            <a id="menuToggle" class="menutoggle pull-left">
                <i class="fa fa fa-bars"></i>
            </a>

        </div>
        <div class="col-md-5">
            <div class="user-area dropdown float-right">
                <div class="user-menu dropdown-menu">
                    <a class="nav-link"><i class="fa fa-sign-out textColorMenu"></i> Cerrar Sesi&oacute;n</a>
                </div>
            </div>
        </div>
    </div>
</header>