<header id="header" class="header">

    <div class="header-menu">

        <div class="col-md-7">
            <a id="menuToggle" class="menutoggle pull-left">
                <i class="fa fa fa-bars"></i>
            </a>            
        </div>
        <div class="col-md-5">
            <div class="user-area float-right">
                <a class="nav-link" asp-controller="Home" asp-action="Logout"><i class="fa fa-sign-out textColorMenu"></i> Cerrar Sesi&oacute;n</a>
@*                <button type="button"><i class="fa fa-sign-out textColorMenu"></i> Cerrar Sesi&oacute;n</button>*@
            </div>
        </div>
    </div>
</header>