<div class="breadcrumbs">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="page-header float-left">
                <div class="page-title" id="toolbarRegresar">
                    <h1></h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <div class="page-title" id="tituloPagina">
                    <h3></h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="page-header float-right">
                <div class="page-title" id="toolbarPagina">

                </div>
            </div>
        </div>
    </div>
</div>
