@model ErrorViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}


<div class="row mx-auto justify-content-center align-items-center flex-column">
    <h2 class="text-danger">Se ha producido una novedad.</h2>
    <p class="text-center">
        <strong>@ViewData["ErrorMessage"]</strong>
    </p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Regresar</a>
</div>