
<div class="text-index text-center">
    <h2>Sistema Terrenos</h2>
    <h4>Funcionalidades de Gestión de Comodatos:</h4>
    <p>
        <ul>
            <li>
                Beneficiarios
            </li>
            <li>
                Tr&aacute;mites
            </li>
        </ul>
    </p>
</div>
