
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<div class="container-form">
    <h2>Gesti&oacute;n Tr&aacute;mites</h2>
</div>
<script type="text/javascript">
    (function () {
        // añadir funciones
    })();
</script>
